<!DOCTYPE html>
<html lang="en">
<head>
    {% load staticfiles %}
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body bgcolor="#112288">

<table align="center">
    <th width="100" height="100"><h3>CYBERNETICS PROTECTOR</h3></th>


    <tr aria-rowspan="5">
        <td align="center" width="200" height="150">
            <img src="{%static 'images/images.jpg'%}">
        </td>
    </tr>
    <table align="center" border="2">
         <tr aria-colspan="6">
             <th width="150" bgcolor="#faf0e6"><a href="/HomePage/?type=Home" >HOME</a></th>
             <th width="150" bgcolor="#00ffff"><a href="/DefenceMinistry/?type=H_DefenceMinistry">DEFENCEMINISTRY</a></th>
             <th width="150" bgcolor="#ff6347"><a href="/Agent/?H_Agent">AGENT</a></th>
             <th width="150" bgcolor="#fffafa"><a href="//">AGENTE APPOINTMENT</a></th>
             <th width="150" bgcolor="#20b2aa"><a href="//">ABOUT US</a></th>
             <th width="150" bgcolor="#faf0e6"><a href="//">ADMIN</a></th>
        </tr>
        <table align="center" width="1000" height="50" font_size="450" bgcolor="#00ffff">
            <tr>
            <td align="center">
                 Cybernetic Protectors is to provide a secure way
of communication and transferring evidences in Secret
Intelligence Agency of defence system which always uses
undercover agents to solve complex cases and dismantle
criminal organizations. We are conceptualizing this software
as a solution so that Secret Intelligence Agencies and their
agent can communicate through this Software for the
exchange of evidences in a secure way, and maintain the
details of main officer. The Cybernetics Protector software is
concerned with the security of the country and thus proper
care has to be taken that confidential data from within the
database is not leaked out. Every country requires a Secret
Agency who undertakes cases which are a threat to the
national security. These agencies operate with the help of
undercover agents who help solve these cases. Since these
cases deal with the nation’s security, the communication and
data transfer between the agents and higher authorities
need to be protected.
            </td>
            </tr>
        </table>

    </table>
</table>

</body>
</html>